<!-- STANDARD CLOSE BUTTON (UNFORTUNATELY THIS CANNOT BE SOLVED WITH A PSEUDO ELEMENT AS IT IS UNSELECTABLE BY JQUERY) -->
<div class="view_close"></div>

<!-- STANDARD HEADER ELEMENT -->
<header class="view_header">
	<h2></h2>
</header>

<!-- STANDARD VIEW ELEMENT -->
<div id="annotations_wrapper" class="view">
	
	<header id="annotation_header">
		<% if(chapter.get('title') != null) { %>
			<h4><span class="ch_title sel"><%=chapter.get('title')%></span></h4>
		<%} else { %>
			<h4><span class="ch_title warning">No chapter selected</span></h4>
		<%} %>
		<nav id="annotation_tabs">
			<ul>
				<li><div class="button tab medium <%=selectedTab == 0 ? 'sel' : ''%>">Entities</div></li>
				<li><div class="button tab medium <%=selectedTab == 1 ? 'sel' : ''%>">Enrichments</div></li>
				<li><div class="button tab medium <%=selectedTab == 2 ? 'sel' : ''%>">Shots</div></li>
			</ul>
		</nav>
		<div id="annotation_switch" title="Switch views"><img src="/site_media/images/switch-icon.png"></div>
	</header>	
	
	<section id="nes" class="annotation_layer"><!-- PLACEHOLDER FOR THE nes --></section>	
	
	<section id="enrichments" class="annotation_layer"><!-- PLACEHOLDER FOR THE enrichments --></section>	
	
	<section id="shots" class="annotation_layer"><!-- PLACEHOLDER FOR THE shots --></section>

</div>